/*form*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

#myForm h2 {
  text-align: center;
  padding: 16px;
}

#myForm h3 {
  
  padding: 8px;
}
input,
input[type="radio"] + label,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: rgb(2, 125, 129);
}
input:focus + .input-icon i {
  color: rgb(2, 125, 129);
}
input:focus + .input-icon:after {
  border-right-color: rgb(2, 125, 129);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: rgb(2, 125, 129);
  color: aliceblue;
  border-color: rgb(2, 125, 129);
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid aliceblue;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 2.5em auto;
  background-color: aliceblue;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
/*download and discard button */
#btn-destroy, #btn-download {
  width: 25%;
  padding: 1em;
  line-height: 1.4;
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  
  
 
}

.utility-buttons {
  
display: flex;
  justify-content: center
}

#btn-destroy:hover {

  background-color: rgb(2, 125, 129);
  color: aliceblue;
 
}
#btn-download:hover {

  background-color: rgb(2, 125, 129);
  color: aliceblue;
 
}

/*graph area */
canvas {
  width: 100%;
  max-width:700px
}

.game-area {
  display: flex;
  justify-content: center;
  
  max-height: 400px;
}
/*hero image animiation */
.glowIn {
  color: #3a3a3a;
}
.glowIn span {
  animation: glow-in 0.8s both;
}
@keyframes glow-in {
  from {
    opacity: 0;
 }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px gray;
 }
  75% {
    opacity: 1;
 }
  to {
    opacity: 0.8;
 }
}

#cover-text {
  font-size: 300%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;

  bottom: 200px;
  
  position: relative;

}

